@import ./mixin.sass
$ancho:100%
$alto:150px
.menu-fila
    display: grid
    justify-items: center
    padding: 0px 0px 0px 20px
    .producto
        display: flex
    img
        display: flex

.boxes
    display: grid
    grid-template-columns: repeat(1,1fr)
    justify-items: center
    padding: 0px 0px 0px 20px
.tarjet
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.img-tarjet
    width: 50%
    img
        width: $ancho
        height:$alto

.precio-tarjet
    @include letra-precio()

.nombre-tarjet
    @include letra-descripcion()
    display: flex
    span
        display: flex
        justify-content: center
        align-items: center


