@mixin letra-precio()
    font-size: 20px
    font-weight: 500
    color: green
    
    
@mixin titulo()
    font-family: 'Lemon', serif
    font-weight: 400
   


@mixin letra-menu()
    font-family: 'Instrument Serif', serif

@mixin letra-descripcion()
    font-family: 'Nixie One', system-ui
    font-weight: 900