@import ./mixin
.texto-head 
    font-family: "Lemon", serif
    font-weight: 400
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: transparent
    height: 16%
    width: 100%
    font-size: 15px

nav
        display: flex
        position: sticky
        top: 0px
        height: 40px
        justify-content: center
        padding: 0px 10px
        background: url("./recursos/paven.png")
        ul
            display: flex
            list-style: none
            gap: 40px
            a
                @include letra-menu()
                font-size: 25px
                text-decoration: none
                color: #17c5c5

@media only screen and (min-width: 768px)
     .boxes
        display: grid
        grid-template-columns: repeat(2,1fr)
        justify-items: center
.tarjet
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.img-tarjet
    width: 50%

    img
        width: 100%
        height: 150px


    
@media only screen and (min-width: 992px) 
    .boxes
        display: grid
        grid-template-columns: repeat(3,1fr)
        justify-items: center
    .tarjet
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    .img-tarjet
        width: 50%
    img
        width: 100%
        height: 220px
    nav
        position: sticky
        top: 0px
        display: flex
        height: 40px
        justify-content: flex-end
        padding: 0px 30px
        background: url("./recursos/paven.png")
        ul
            display: flex
            list-style: none
            gap: 40px
            a
                @include letra-menu()
                font-size: 25px
                text-decoration: none
                color: #17c5c5

    .texto-head 
        flex-direction: column
        display: flex
        align-items: flex-start
        background-color: transparent
        height: 100vh
        width: 100%

        

@media only screen and (min-width: 1200px)