@import ./componentes/fuentes.sass
@import "./componentes/variable.sass"
@import ./componentes/mixin.sass
@import ./componentes/banner.sass
@import ./componentes/card.sass
@import "./componentes/responsive.sass"
@import ./componentes/footer.sass
*
    margin: 0px
    padding: 0px
body
 background: url("./recursos/paven.png")

.precio-tarjet
    @include letra-precio()
    


    
